* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1125px;
    margin: 0 auto;
}

header {
    background-color: #043873;
    color: #fff;
    padding-bottom: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 23px;
}

.logo__text{
    font-weight: bold;
    font-size: 21px;
    padding-left: 5px;
}

.header__logo:hover{
    text-decoration: none;
}

header nav ul{
    display: flex;
    justify-content: center;

    list-style-type: none;
    margin: 0;
}

nav ul li {
    
    padding: 0 15px;
}

/* links */

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear;
}

a:hover {
    color: #ffdd00;
    text-decoration: underline;
}




