* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

p{
    padding: 10px 0;
}

.title-white{
    color: #fff;
}

.subtitle__white{
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 70px;
}

/* fonts */

h3{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1125px;
    margin: 0 auto;
}

header {
    background-color: #043873;
    color: #fff;
    padding-bottom: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 23px;
}

.logo__text{
    font-weight: bold;
    font-size: 21px;
    padding-left: 5px;
}

.header__logo:hover{
    text-decoration: none;
}

header nav ul{
    display: flex;
    justify-content: center;

    list-style-type: none;
    margin: 0;
}

nav ul li {
    
    padding: 0 15px;
}

/* links */

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear;
}

a:hover {
    color: #ffdd00;
    text-decoration: underline;
}

/* photo-menu */

.bg-blue{
    background-color: #043873;
}


.photo-menu{
    
    background: #043873 url(../img/bg-top.png) no-repeat center top;
    background-size: cover;
}

.photo__row{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 70px;
}

.photo__column{
    width: 33%;
    background-color: #000;
    overflow: hidden;
}

.overlay{
    position: relative;
    top: -68px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    min-width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 0;
    margin-bottom: -70px;
}

.photo__column a:hover{
    text-decoration: none;
}

.photo__column img{
    transition: transform 0.25s;
}

.photo__column:hover img{
    transform: scale(1.1);
}


/* about */

.about{
    padding: 20px 0 50px 0;
}

.about__row {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.about__desc {
    max-width: 520px;
}
.about__img {

}

.about p{
    font-size: 22px;
    line-height: 29px;
    text-align: justify;
}

.before{
    padding: 20px 0 50px 0;
}

.before__title{
    margin-bottom: 10px;
}

