* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth; 
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

p{
    padding: 0 0 15px 0;
    text-indent: 25px;
}

.title-white{
    color: #fff;
}

.subtitle{
    color: #000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 70px;
}

.subtitle__white{
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 70px;
}

/* fonts */

h3{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1145px;
    margin: 0 auto;
    padding:0 10px;
}


header {
    background-color: #043873;
    color: #fff;
    padding-bottom: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 23px;
}

.logo__text{
    font-weight: bold;
    font-size: 21px;
    padding-left: 5px;
}

.header__logo:hover{
    text-decoration: none;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    margin: 0;
    
}

nav ul li {
    
    padding: 0 15px;
}

/* links */

header a, .photo-menu a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear;
}

header a:hover, .photo-menu a:hover {
    color: #ffdd00;
    text-decoration: underline;
}

a{
    color:#043873;
    text-decoration: none;
    transition: 0.3s linear;
}

a:hover{
    text-decoration: underline;
    color: #ff0000;
}

/* photo-menu */

.bg-blue{
    background-color: #043873;
}


.photo-menu{
    
    background: #043873 url(../img/bg-top.png) no-repeat center top;
    background-size: cover;
}

.photo__row{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 70px;
}

.photo__column{
    width: 33%;
    background-color: #000;
    overflow: hidden;
}

.overlay{
    position: relative;
    top: -68px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    min-width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 0;
    margin-bottom: -70px;
}

.photo__column a:hover{
    text-decoration: none;
}

.photo__column img{
    transition: linear 0.3s;
}

.photo__column:hover img{
    transform: scale(1.1);
    opacity: .5;
}


/* about */

.about{
    padding: 20px 0 50px 0;
}

.about__row {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.about__desc {
    max-width: 45%;
}
.about__img {

}

.about p{
    font-size: 22px;
    line-height: 29px;
    text-align: justify;
}



.before{
    padding: 20px 0 50px 0;
}

.before__title{
    margin-bottom: 10px;
}


.checkboxes__block {
}
.white-block .check__item{
    background-color: #fff;
    max-width: 48%;
}

.white-block .check__item:hover{
    background-color: #ffffec;
    box-shadow: black;
    box-shadow: 5px 2px 3px black;
    cursor: pointer;
}


.check__row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 40px;
}
.check__item {
    padding: 20px 40px;
    
}

.cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.cont input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cont:hover input ~ .checkmark {
    background-color: #ccc;
    
  }

.cont input:checked ~ .checkmark {
    background-color: #0071E3;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.cont input:checked ~ .checkmark:after {
    display: block;
}

.cont .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check__desc {
    color: #999;
    line-height: 19px;
    margin-left: 35px;
}

/* print */

.print{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.print:hover{
    cursor: pointer;
    background-color: #ffdd00;
    
}

/* airport */

.airport {
    padding: 20px 0 50px 0;
}


.airport__title {
    margin-bottom: 10px;
}


.check__item {
    background-color: #F8F8F8;
    max-width: 48%;
}

.check__item:hover{
    background-color: #ffffec;
    box-shadow: black;
    box-shadow: 5px 2px 3px #d8d8d8;
    cursor: pointer;
}


/* steps */

.steps {
    padding: 20px 0 50px 0;
}

.steps__title {
    margin-bottom: 10px;
}

/* resources */

.resources {
    padding: 20px 0 50px 0;
}



.resources__title {
    margin-bottom: 10px;
}
.subtitle {
}
.resources__block {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.resources__item {
    max-width: 24%;
}

.resources__img {
    height: 200px;
}

.resources__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.resources__link{
    padding-top: 10px;
}
.resources a{
    font-size: 20px;
    font-weight: bold;
}

/* footer */

footer{
    background-color: #043873;
    padding: 50px 0;
}

.footer__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    color: #fff;
}

footer a:hover{
    color: #ffdd00;
    text-decoration: none;
}

footer .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
    background: white;
    color: #043873;
  }

footer .fa:hover{
    background-color: #ffdd00;
    color:#043873;
}

/* media */
@media only screen and (max-width: 1000px){
    .about__row {
        gap:30px;
    }
    .about__desc p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px){
    header nav ul{
        flex-wrap: wrap;
    }

    header nav ul li{
        margin: 10px 0;
    }

    .photo__row {
        flex-wrap: wrap;
    }

    .photo__column{
        width: 100%;
    }

    .about__row {
        flex-wrap: wrap;
    }

    .about__desc{
        max-width: 100%;
    }

    .about__img{
        width: 100%;
        text-align: center;
    }

    .resources__block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .resources__item{
        max-width: 50%;
        
    }
}

@media only screen and (max-width: 750px){
    .photo__row {
        flex-wrap: wrap;
    }

    .photo__column{
        width: 100%;
    }

    .about__row {
        flex-wrap: wrap;
    }

    .about__desc{
        max-width: 100%;
    }

    .about__img{
        width: 100%;
        text-align: center;
    }

    .check__row{
        flex-wrap: wrap;
    }

    .check__item, .white-block .check__item{
        max-width: 100%;

    }
    .resources__block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    

    .footer__row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }


}